---
import "../styles/global.css";

import Cabecalho from "../components/Cabecalho.astro";
import Rodape from "../components/Rodape.astro";

const tituloPagina = "Meu Blog de Aprendizado sobre Astro";
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{tituloPagina}</title>
  </head>
  <body>
    <Cabecalho />

    <h1>{tituloPagina}</h1>
    <p>Aqui é onde postarei sobre minha jornada aprendendo Astro.</p>
    <ul>
      <li><a href="/postagens/post-1/">Postagem 1</a></li>
      <li><a href="/postagens/post-2/">Postagem 2</a></li>
      <li><a href="/postagens/post-3/">Postagem 3</a></li>
    </ul>

    <Rodape />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
