---
import "../styles/global.css";

import Cabecalho from "../components/Cabecalho.astro";
import Rodape from "../components/Rodape.astro";

const tituloPagina = "Página Inicial";
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{tituloPagina}</title>
  </head>
  <body>
    <Cabecalho />

    <h1>{tituloPagina}</h1>

    <Rodape />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
