---
const tituloPagina = "Página Inicial";
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{tituloPagina}</title>
  </head>
  <body>
    <a href="/">Início</a>
    <a href="/sobre">Sobre</a>
    <a href="/blog">Blog</a>

    <h1>{tituloPagina}</h1>
  </body>
</html>
